
# Node Modules
node_modules/


# Build directories
build

# Environment variables
# .env


# MacOS
.DS_Store

# Other
*.bak
*.tmp

# Github
.env
.env.local

/backend/.env
/backend/.env.local

.vercel
